<!-- The header ejs template is included to ensure our CSS and fonts are loaded -->
<%- include('partials/header') %>

    <!-- Display question or whatever else here -->
    <h1>Math Quiz</h1>
    <p>Answer the question below:</p>
    <p>Streaks: <%= streaks %></p>
    <p>Question: <%= question %></p>
    
    <form action="/quiz" method="POST">
        <input type="text" name="answer" required placeholder="Enter your answer">
        <button type="submit">Submit</button>
    </form>
</body>
</html>